@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.woff2') format('woff2'),
        url('Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    font-family: 'Ubuntu';
}

path {
    fill: white;
}

.cont {
    display: grid;
    grid-template: 1fr 1fr 1.5fr 2fr / repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: white;
    grid-column: span 4;
    border-bottom: 1px black solid;
}

.sidebar {
    grid-column: span 1;
    grid-row: span 4;
    background-color: rgb(45, 134, 239);
    border-right: 1px black solid;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 14px;
}

.main {
    grid-row: span 3;
    grid-column: span 4;
    background-color: rgba(196, 196, 196, 0.295);
}

.searchbar {
    width: 80%;
    background-color: gray;
    border-radius: 5px;
}

svg {
    height: 20px;
    width: calc(height);
}

#side-item1 svg {
    height: 40px;
    width: calc(height);
}

.sidebar>div {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    place-items: center;
    color: white;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.sidebar>div>div {
    justify-self: left;
}
